[submodule "LittleWooden/vendor/spdlog"]
	path = LittleWooden/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LittleWooden/vendor/GLFW"]
	path = LittleWooden/vendor/GLFW
	url = https://github.com/Dylan-Littlewood/glfw
