# Binaries
**/bin/
bin-int/

# LittleWooden files
*.log

# Visual Studio folder
.vs/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
**.sln.DotSettings.user
GitHub.url
